@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import "./variables.scss";

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font_main;
}
